/* CHART 1 */
	.chart1-allMedals {
		display: flex;
		justify-content: flex-start;
		flex-flow: row wrap;
		align-content: flex-start;
		margin: 40px 0;
	}

	.chart1-medal {
		box-shadow: 1px 1px;
		height: 15px;
		width: 15px;
		border-radius: 50%;
		margin: 3px;
		font-size: 0.7em;
		font-family: "Open Sans", sans-serif;
		font-weight: 700;
		text-align: center;
	}

	.chart1-span {
		font-size: 0.9em;
		font-weight: 700;
		padding: 0 0.5em;
		border-radius: 2px;
		font-family: "Open Sans", sans-serif;
	}

	.span1-gold {
		background-color: #ffd700; 
	}

	.span1-silver {
		background-color: #c0c0c0;
	}

	.span1-bronze {
		background-color: #c88857;
	}

/* CHART 2 */

	.chart2 {
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: center;
	}

	.chart2-container {
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: center;
		align-content: flex-start;
		flex-flow: row wrap;
		align-items: flex-end;
	}

	.chart2-div {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-bottom: 40px;
		margin-right: 30px;
		width: 65px;
	}

	.chart2-div10 {
		margin-right: 0;
	}

	.chart2-hist {
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: space-around;
		flex-direction: row;
		align-items: flex-end;
	}

	.chart2-group {
		display: flex;
		flex-direction: column;
		margin: 0 0.15em;
		align-items: center;
		width: 10px;
		background-color: blue;
	}

	.chart2-block {
		width: 8px;
		height: 8px;
		border-radius: 50%;
		margin-bottom: 2px;
		margin-left: 6px;
	}

	.chart2-count, .chart2-year, .chart2-total {
		color: #3a3a3a;
		font-family: "Open Sans", sans-serif;
	}

	.chart2-count {
		font-size: 0.8em;
		font-weight: 400;
		margin-bottom: 3px;
		text-align: center;
		margin-left: 0.15em;
	}

	.chart2-total {
		font-size: 0.8em;
		font-weight: 400;
		text-align: center;
		width: 65px;
		margin-top: 0.15em;
	}

	.chart2-year {
		order: 5;
		text-align: center;
		align-self: flex-end;
		justify-content: center;
		font-weight: 700;
		margin-top: 0.2em;
		margin-bottom: 0;
		padding-top: 0.3em;
		border-top: 1px solid lightgrey;
	}

/* CHART 3 */

	.chart3-container {
	  display: flex;
	  flex-direction: row;
	  justify-content: center;
	  margin-top: 60px;
	}

	.chart3-group {
	  display: flex;
	  flex-direction: column-reverse;
	  margin: 0.5rem 0;
	  align-items: center;
	}

	.chart3-block {
	  width: 25px;
	  order: 1;
	  margin-bottom: 0rem;
	}

	.chart3-label {
	  order: 0;
	  width: 60px;
	  text-align: center;
	  margin-top: 0;
	  font-family: "Open Sans", sans-serif;
	  font-size: 0.8em;
	  color: #3a3a3a;
	  border-top: 1px solid #3a3a3a;
	}

	.chart3-axisLabel {
		height: 17px;
	    font-family: "Open Sans";
	    font-size: 0.8em;
	    font-weight: 700;
	    margin-top: -33px;
	    margin-right: -45px;
	}

	.chart3-axis {
	  padding: 4px 0;
	  width: 40px !important;
	  height: 268px;
	  display: flex;
	  flex-direction: column-reverse;
	  justify-content: space-between;
	  align-self: flex-start;
	  text-align: right;
	  margin-top: -6px;
	  border-right: 1px solid #3a3a3a;
	}

	.chart3-axis > span {
	  font-family: "Open Sans", sans-serif;
	  font-size: 0.8em;
	  color: #3a3a3a;
	}

	.chart3-gender {
		font-size: 1em;
	}

	.chart3-women {
		fill: #FD8D3C;
	}

	.chart3-men {
		fill: #FDD0A2;
	}

	.chart3-mixed {
		fill: #FEE6CE;
	}

	.chart3-span {
		font-size: 0.9em;
		font-weight: 700;
		padding: 0 0.5em;
		border-radius: 2px;
	}

	.span3-women {
		background-color: #FD8D3C;
	}

	.span3-men {
		background-color: #FDD0A2;
	}

	.span3-mixed {
		background-color: #FEE6CE;
	}

/* CHART 4 */

	.chart4-container {
		width: 70%;
		margin: 0 0 20px 15%;
		padding: 0;
	}

	.chart4-div {
		width: 425px;
		margin: 0 auto;
	}

	.chart4 {
		display: flex;
		flex-direction: column;
	}

	.chart4-hist {
		margin: 0;
		padding: 0;
		display: flex;
		align-items: center;
		height: 45px;
	}

	.chart4-group {
		display: flex;
	}

	.chart4-medal {
		width: 15px;
		height: 15px;
		border-radius: 50%;
		margin-left: 3px;
		border: 1px solid;
		box-shadow: 1px 1px;
		margin: 2.5px;
		font-size: 0.7em;
		font-family: "Open Sans", sans-serif;
		font-weight: 700;
		text-align: center;
	}

	.chart4-label, .chart4-total {
		margin: 0;
		color: #3a3a3a;
		font-family: "Open Sans", sans-serif;
	}

	.chart4-label {
		font-size: 0.8em;
		font-weight: 700;
		margin-right: 0.75em;
		text-align: right;
		width: 150px;
	}

	.chart4-total {
		font-weight: 400;
		font-size: 0.8em;
		margin-left: 0.75em;
	}

/* CHART 5 */
	.chart5-container {
		width: 130%;
		margin-left: -15%;
		display: flex;
		justify-content: space-around;
		flex-flow: row wrap;
	}

	.chart5-col {
		width: 22%;
		margin: 0;
		padding: 0.25em;
		display: flex;
		flex-wrap: wrap;
	}

	.chart5-label, .chart5-total, .chart5-rank {
		display: block;
		width: 100%;
		margin: 0;
		text-align: center;
		color: #3a3a3a;
		font-family: "Open Sans", sans-serif;
	}

	.chart5-label {
		font-size: 1em;
		font-weight: 700;
	}

	.chart5-rank {
		font-size: 0.7em;
		text-transform: uppercase;
	}

	.chart5-total {
		margin: 15px 0;
		font-weight: 300;
		font-size: 0.9em;
	}

	.chart5-meta {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		margin-bottom: 20px;
	}

	.chart5-medal {
		width: 6px;
		height: 6px;
		border-radius: 50%;
		margin: 1px;
	}

	.chart5-value {
		color: #3a3a3a;
		font-family: "Open Sans", sans-serif;
		font-size: 0.8em;
		font-weight: 300;
		margin: 0px;
	}

	.chart5-gold-span, .chart5-silver-span, .chart5-bronze-span {
		width: 15px;
		height: 15px;
		border-radius: 50%;
		margin-right: 5px;
		border: 1px solid;
		font-family: "Open Sans", sans-serif;
		font-weight: 700;
		text-align: center;
		font-size: 0.7em;
		box-shadow: 1px 1px;
	}

	.chart5-gold-span {
		background-color: #ffd700;
		border-color: #b29600;
		color: #b29600;
	}

	.chart5-silver-span {
		background-color: #c0c0c0;
		border-color: #868686;
		color: #868686;
	}

	.chart5-bronze-span {
		background-color: #c88857;
		border-color: #8d440c;
		color: #8d440c;
	}

	.chart5-meta-gold, .chart5-meta-silver, .chart5-meta-bronze {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
	}

/* CHART 6 */
	.chart6 {
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: center;
	}

	.chart6-container {
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: center;
		align-content: flex-start;
		flex-flow: row wrap;
		align-items: flex-end;
	}

	.chart6-div {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-bottom: 40px;
	}

	.chart6-div10 { margin-right: 0; }

	.chart6-hist {
		margin: 0 0 0 5px;
		padding: 0;
		display: flex;
		flex-direction: column-reverse;
		align-items: flex-start;
	}

	.chart6-group {
		display: flex;
		flex-direction: column;
		margin: 0 0.15em;
		align-items: center;
		width: 10px;
		background-color: blue;
	}

	.chart6-block {
		width: 15px;
		height: 15px;
		border-radius: 50%;
		margin-bottom: 2px;
		margin-left: 6px;
		border: 1px solid;
		box-shadow: 1px 1px;
		font-size: 0.7em;
		font-family: "Open Sans", sans-serif;
		font-weight: 700;
		text-align: center;
	}

	.chart6-count, .chart6-year, .chart6-total {
		color: #3a3a3a;
		font-family: "Open Sans", sans-serif;
	}

	.chart6-count {
		font-size: 0.8em;
		font-weight: 400;
		margin-bottom: 3px;
		text-align: center;
		margin-left: 0.15em;
		display: none;
	}

	.chart6-total {
		font-size: 0.85em;
		font-weight: 400;
		margin-bottom: 5px;
		text-align: center;
		width: 30px;
	}

	.chart6-year {
		text-align: center;
		align-self: flex-end;
		justify-content: center;
		font-size: 0.8em;
		margin-top: 0.2em;
		margin-bottom: 0;
		width: 37px;
		padding-top: 0.3em;
		border-top: 1px solid lightgrey;
	}

	.chart6-label {
		font-family: "Open Sans";
		font-size: 0.8em;
		font-weight: 700;
		display: block;
		width: 100%;
		text-align: center;
		margin-top: -20px;
	}

/* CHART 7 */

	.chart7-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 500px;
		margin: 0 auto;
	}

	.chart7-row {
		display: flex;
		flex-direction: row;
		align-items: center;
		height: 40px;
	}

	.chart7-group {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.chart7-block {
		display: flex;
		order: 2;
	}

	.chart7-label {
		display: flex;
		justify-content: flex-end;
		order: 0;
		width: 86px;
		text-align: right;
		margin: 0 1em 0 0;
		font-family: "Open Sans", sans-serif;
		font-size: 0.8em;
		color: #3a3a3a;
	}

	.chart7-count {
		margin-left: 0.5em;
		order: 10;
		font-family: "Open Sans", sans-serif;
		font-size: 0.8em;
		color: #3a3a3a;
	}

	.chart7-axisLabel {
		height: 17px;
		font-family: "Open Sans";
		font-size: 0.8em;
		font-weight: 700;
		margin-top: -33px;
		margin-right: -45px;
	}

	.chart7-axis {
		padding: 4px 0;
		width: 40px !important;
		height: 268px;
		display: flex;
		flex-direction: column-reverse;
		justify-content: space-between;
		align-self: flex-start;
		text-align: right;
		margin-top: -6px;
		border-right: 1px solid #3a3a3a;
	}

	.chart7-axis > span {
		font-family: "Open Sans", sans-serif;
		font-size: 0.8em;
		color: #3a3a3a;
	}

	.chart7-gender { font-size: 1em; }

	.chart7-women { fill: #FD8D3C; }

	.chart7-men { fill: #FDD0A2; }

	.chart7-mixed { fill: #FEE6CE; }

	.chart7-span {
		font-size: 0.9em;
		font-weight: 700;
		padding: 0 0.5em;
		border-radius: 2px;
	}

	.span7-women { background-color: #FD8D3C; }

	.span7-men { background-color: #FDD0A2; }

	.span7-mixed { background-color: #FEE6CE; }



/* MEDIA QUERIES */

	@media screen and (min-width: 1200px) {
		.chart2-container {
			width: 110%;
			margin-left: -5%;
		}

		.chart4-container {
			width: 50%;
			margin-left: 25%;
		}

		.chart5-container {
			width: 120%;
			margin-left: -10%;
		}
	}

	@media screen and (max-width: 1200px) {
		.chart2-container {
			width: 120%;
			margin-left: -10%;
		}
	}

	@media screen and (max-width: 1100px) {
		.chart2-container, .chart6-container {
			width: 90%;
			margin-left: 5%;
		}

	}

	@media screen and (max-width: 900px) {
		.chart2-container {
			width: 80%;
			margin-left: 10%;
		}

		.chart2-div { margin-right: 35px; }

		.chart3-label { width: 45px; }

		.chart5-container {
			width: 100%;
			margin-left: 0;
		}
	}

	@media screen and (max-width: 700px) {
		.chart5-meta-gold, .chart5-meta-silver, .chart5-meta-bronze {
			display: flex;
			flex-direction: column;
		}

		.chart5-value {
			font-size: 0.8em;
			margin-top: 5px;
			text-align: center;
		}

		.chart5-gold-span, .chart5-silver-span, .chart5-bronze-span {
			margin: 0 auto;
		}
	}

	@media screen and (max-width: 650px) {
		.chart3-label { width: 40px; }

		.chart3-block, .chart7-block { width: 20px; }

		.chart4-container {
			width: 100%;
			margin: 0;
		}

		.chart4-label { width: 80px; }

		.chart4 {
			width: 80%;
			padding-left: 10%;
		}

		.chart4-hist10, .chart4-hist11 { margin-top: 10px; }
	}

	@media screen and (max-width: 500px) {
		.chart2-container, .chart6-container {
			width: 100%;
			margin-left: 0;
			justify-content: center;
		}

		.chart2-div {
			width: 65px;
			margin-right: 20px;
		}

		.chart3-container, .chart7-container {
			margin: 0;
			padding: 0;
			width: 100%;
			margin-top: 50px;
		}

		.chart7-container { padding-left: 1em; }

		.chart3-block, .chart7-block {width: 14px;}

		.chart3-label {
			width: 23px;
			font-size: 0.75em;
		}

		.chart3-axisLabel {
			margin-top: -30px;
    		margin-right: -60px;
		}

		.chart3-axis {width: 33px;}

		.chart3-axis > span {font-size: 0.7em;}
		
		.chart4 {
			width: 100%;
			padding-left: 10%;
		}

		.chart4-div { width: 100%; }

		.chart4-medal {
			width: 8px;
			height: 8px;
			border-radius: 50%;
			margin-left: 2px;
			border: 1px solid;
			box-shadow: none;
		}

		.chart4-span { display: none; }

		.chart5-container {
			width: 110%;
			margin-left: -5%;
		}

		.chart5-label, .chart5-total { height: 40px; }

		.chart5-meta { flex-direction: column; }

		.chart5-meta-gold, .chart5-meta-silver, .chart5-meta-bronze {
			text-align: center;
			flex-direction: row;
			justify-content: center;
			align-items: center;
		}

		.chart5-gold-span { background-color: #ffd700; }

		.chart5-silver-span { background-color: #c0c0c0; }

		.chart5-bronze-span { background-color: #c88857; }

		.chart5-gold-span, .chart5-silver-span, .chart5-bronze-span {
			width: 8px;
			height: 8px;
			border-radius: 50%;
			margin-right: 3px;
			margin-bottom: -7px;
			border: none;
			box-shadow: none;
		}

		.chart5-gold-span > span, .chart5-silver-span > span, .chart5-bronze-span > span { display: none; }

		.chart7-label, .chart6-year {width: 34px;}

		.chart7-axisLabel {
	    	margin-top: -30px;
	        margin-right: -60px;
	    }

	    .chart7-axis {width: 33px;}

	    .chart7-axis > span {font-size: 0.7em;}
	}